<div class="row mx-auto bg-dark p-2 border border-2 rounded  border-info   ">
    <div id="educacion">
        <h1>Educación</h1>
        <img src="../../../assets/educacion.png"  class="img_educacion" alt="logo educacion">
        <img src="../../../assets/editar.png"  class="img_editar" alt="icono editar" style="float:right">
    </div>
    
    <div class="col-lg-3"></div>
    <div class="col-lg-9">
        <ul class="mx-auto border border-2 rounded border-info">
            <li><h2>Educacion 1</h2> - <h3>(years)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, omnis quos adipisci
                 animi enim perferendis pariatur veritatis? Porro quisquam ex vero quae asperiores, amet
                  libero doloribus, dicta minima est sapiente!</p>
        </ul>
        <ul class="mx-auto  border border-2 rounded  border-info">
            <li><h2>Educacion 2</h2> - <h3>(years)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, omnis quos adipisci
                 animi enim perferendis pariatur veritatis? Porro quisquam ex vero quae asperiores, amet
                  libero doloribus, dicta minima est sapiente!</p>
        </ul>
        <ul class="mx-auto border border-2 rounded  border-info">
            <li><h2>Educacion 3</h2> - <h3>(years)</h3> </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, omnis quos adipisci
                 animi enim perferendis pariatur veritatis? Porro quisquam ex vero quae asperiores, amet
                  libero doloribus, dicta minima est sapiente!</p>
        </ul>

    </div>

</div>
