<div class="row mx-auto bg-dark p-2 border border-2 rounded  border-info   ">
    <div id="educacion">
        <h1>Educación</h1>
        <img src="../../../assets/educacion.png" class="img_educacion" alt="logo educacion">
    </div>

    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">Agregar educación</button>
    </div>

    <div class="col lg 1"></div>
    <!--hay que arreglar par pantallla pequeña-->
    <div class="col-lg-11"></div>
    <table class="table">
        <tbody>
            <tr *ngFor="let Educacion of edu">
                <td>
                    <h3>{{Educacion.nombreEd}}</h3>
                </td>
                <td>{{Educacion.descripcionEd}}</td>
                <td *ngIf="isLogged">
                    <button class="btn btn-primary" routerLink="/editedu/{{Educacion.id}}">
                        <i class="bi bi-pencil-fill m-2"></i>EDITAR
                    </button>
                </td>

                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Educacion.id)">
                        <i class="bi bi-trash3-fill"></i>ELIMINAR</button>
                </td>
            </tr>
        </tbody>

    </table>


</div>