<div class="row mx-auto bg-dark" >
 <!--    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 border border-2 rounded-start border-info border-end-0" >
        <img src="../../../assets/fotoperfil.png" class="img-fluid rounded-circle border-0"id="foto-perfil">
   </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="nombre-titulo">
        <div class="p-2 border border-2 rounded-end border-info border-start-0">
            <h4 class="p-3">GABRIELA GONZALEZ</h4>
            <h3 class="p-3">FULL STACK DEVELOPER Jr.</h3>
        </div>      
    </div>--> 
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" >
        <div>
            <img src= {{persona.img}} class="img-fluid mx-auto rounded-circle 
            border-0"id="foto-perfil">
            <img src="../../../assets/editar.png"  class="img_editar_foto_perfil" alt="icono editar" style="float:right">
        </div>
        <div class="mt-5 p-2 border border-2 rounded border-info ">
            <!--<h4>GABRIELA<br> GONZALEZ</h4>-->
            <h4>{{persona.nombre}} {{persona.apellido}}</h4>
            <img src= "../../../assets/editar.png" class="img_editar" alt="icono editar" style="float:right">
        </div>
   </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="nombre-titulo">
        <div class="p-2 border border-2 rounded border-info ">
            <h3 class="p-3">FULL STACK DEVELOPER Jr.</h3>
            <img src="../../../assets/editar.png"  class="img_editar" alt="icono editar" style="float:right">
        </div>      
    </div>


    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="acerca-de-mi">
        <div class="p-2 border border-2 rounded border-info">
            <h2>Acerca de mí</h2>
            <p>Profesional desarrollador Web Full Stack Jr. con conocimientos en Bioingeniería y medicina nuclear.</p>
            <img src="../../../assets/editar.png"  class="img_editar" alt="icono editar" style="float:right">
        </div>
    </div>

</div>
