<div class="row mx-auto bg-dark p-2 border border-2 rounded  border-info">
    <div id="skills">
        <h1>Hard & Soft skills</h1>
        <img src="../../../assets/skills.png"  class="img_skills" alt="logo educacion">
        <img src="../../../assets/editar.png"  class="img_editar" alt="icono editar" style="float:right">
    </div>
    
    
    <div class=" text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="30"
            [radius]="100"
            [imageSrc]="'../assets/logoHTML5.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'1em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'#e22b86'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

        <circle-progress
            [percent]="30"
            [radius]="100"
            [imageSrc]="'../assets/logPYTHON.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [title]="'Python'"
            [titleColor]="'black'"
            [titleFontSize]="'1em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'#e22b86'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="30"
            [radius]="100"
            [imageSrc]="'../assets/logoCSS.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [title]="'CSS'"
            [titleColor]="'black'"
            [titleFontSize]="'1em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'#e22b86'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

        <circle-progress
        [percent]="30"
        [radius]="100"
        [imageSrc]="'../assets/logoC.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [title]="'C'"
        [titleColor]="'black'"
        [titleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'#e22b86'"
        [backgroundColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/logoJAVA.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'aqua'"
            [innerStrokeColor]="'#e22b86'"
            [backgroundColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

        <circle-progress
        [percent]="30"
        [radius]="100"
        [title]="'C'"
        [titleColor]="'black'"
        [titleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'#e22b86'"
        [backgroundColor]="'white'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    
</div>
